@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;700&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif; */

/* color */
/* 594545
815B5B
9E7676
FFF8EA */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #594545;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff8ea;
  overflow-x: hidden;
}

header {
  width: 100vw;
  padding: 10px;
}

h1,
h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  color: #594545;
  margin-bottom: 20px;
}

h1,
h2,
h3,
p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main {
  border: 1px solid #594545;
  margin: 0 20px 30px 20px;
  padding: 25px;
  border-radius: 0.5em;
}

section.input_section h2 {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}

form#inputBook {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form#inputBook .input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

input {
  height: 30px;
  border-radius: 0.5em;
  border-style: none;
  /* border-bottom: 1px #594545 solid;
  border-right: 1px #594545 solid; */
  box-shadow: 2px 2px 2px rgba(123, 60, 60, 0.5);
  padding-left: 5px;
}

input:focus {
  outline: none;
  border: 1px solid;
  background-color: #fad894;
}

input:hover {
  background-color: #fad894;
}

form#inputBook .input input {
  width: 200px;
}

.input_inline {
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: #af4747; */
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #9e7676;
  border-radius: 0.5em;
  background-color: #ffff;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='checkbox']:checked {
  background-image: url('svg/checklist.svg');
  background-position: center;
  background-size: cover;
  background-color: #594545;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 0.5em;
  border-style: none;
  /* border: 1px solid #9e7676; */
  cursor: pointer;
  background-color: #9e7676;
  color: #fff8ea;
}

button:hover {
  box-shadow: 2px 2px 2px #594545;
  transition: 0.3s;
}

button#bookSubmit span {
  margin-left: 5px;
  font-weight: bold;
  color: #fad894;
}

section {
  border-bottom: 1px solid #594545;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

section:last-child {
  border: none;
  padding: 0;
}

form#searchBook {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-with-btn {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  margin: 10px 0;
}

label[for='searchBookTitle'] {
  color: #fff8ea;
}

button.searchSubmit {
  border-radius: 25%;
  width: 30px;
  height: 30px;
  background: url('svg/search.svg');
  background-position: center;
  background-repeat: no-repeat;
}

button.searchSubmit.clear {
  background: url('svg/x.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #af4747;
}

input#searchBookTitle {
  height: 30px;
  width: 100%;
  margin-right: 10px;
}

.search_section .formAndResult {
  background-color: #9e7676;
  padding: 10px;
  border-radius: 0.5em;
}

.formAndResult .book_item {
  margin: 0;
  margin-top: -1px;
  border-radius: 0;
}

.anchor-book:first-child .book_item {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.anchor-book:last-child .book_item {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.book_item {
  border: 1px solid;
  padding: 10px;
  margin: 15px 0;
  border-radius: 0.5em;
  box-shadow: 3px 3px 2px #9e7676;
  background-color: #ffe5b0;
  scroll-margin-top: 50px;
  /* overflow: hidden; */
}

.book_shelf .book_item:first-child::before {
  content: 'Terakhir ditambahkan/diedit';
  background-color: #9e7676;
  float: right;
  width: max-content;
  padding: 0 5px;
  border-radius: 0.5em;
  font-size: 10px;
  text-align: right;
  color: #fff8ea;
}

a .book_item {
  background-color: #fff8ea;
  text-decoration: none;
  font-size: 14px;
}

button.red {
  background: url('svg/trash.svg');
  background-color: #af4747;
  background-position: center;
  background-repeat: no-repeat;
}

button.green {
  background: url('svg/checklist.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6b9b47;
}

button.green.rewind {
  background: url('svg/rewind.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6b9b47;
}

button.yellow {
  background: url('svg/pencil.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cfbb3b;
}

.book_item .action {
  float: right;
  position: relative;
  top: -40px;
}

.action button {
  width: 35px;
  height: 35px;
  margin: 2px;
}

form.edit_mode {
  padding: 10px;
}

.edit_mode input {
  display: block;
  width: 200px;
  margin: 5px 0;
  font-size: 16px;
}

.edit_mode input#titleEdit {
  font-size: 18px;
  font-weight: bold;
}

.edit_mode input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #9e7676;
  border-radius: 0.5em;
  background-color: #ffff;
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block;
}

.edit_mode input[type='checkbox']:checked {
  background-image: url('svg/checklist.svg');
  background-position: center;
  background-size: cover;
  background-color: #594545;
}

button.save-edit {
  background: url('svg/save.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cfbb3b;
}

button.close-edit {
  background: url('svg/x.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #af4747;
}

/* @media only screen and (max-width : 480px)  {
  
}
@media only screen and (max-width : 768px)  {
  body {
    width: 100%;
  }
} */

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  main {
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  main {
    width: 700px;
  }
}
